DB_HOST="127.0.0.1"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="mybet"
SERVER_URL=""
SERVER_PORT=""
SERVER_PROTOCOL="http"
SERVER_NAME="localhost"
SERVER_ADMIN="admin@localhost"
SERVER_TIMEZONE="Asia/Rangoon"
SERVER_LOCALE="en_US"
SERVER_CURRENCY="MMK"
SERVER_CURRENCY_SYMBOL="K"

MONGODB_URI="";